body {
    font-size: 14px;
    font-family: arial, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    text-decoration: none; 
}
a:hover {
    text-decoration: underline;
}


#nav-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links {
    color: #222;
}

.signin-button {
    background: #2b7de9;
    color: #fff;
    box-shadow: 0 1px 2px 0
        rgba(66,133,244,0.3), 0 1px 3px 1px
        rgba(66,133,244,0.15);
    text-decoration: none;
    line-height: 16px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    letter-spacing: 0.25px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 9px 23px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    border: 4px;
    min-width: 96px;
}

#space-below-nav {
    margin: 100px;
}
#google-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

#search-bar {
    border-radius: 25px;
    border: 1px solid rgb(179, 177, 177);
    padding: 5px;
    width: 600px;
    height: 25px;
}

#search-area {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-links {
    display: flex;
    justify-content: center;
}

.search-links {
    color: #222;
    padding: 15px 25px;
}

.location-bar {
    display: flex;
    background: #f2f2f2;
    box-sizing: border-box;
    border-bottom: 1px solid #dadce0;
    padding: 14px 30px;
    color: rgba(0,0,0, 0.54);
}

.bottom-bar {
    display: flex;
    background: #f2f2f2;
    box-sizing: border-box;
    border-bottom: 1px solid #dadce0;
    padding: 14px 30px;
    color: rgba(0,0,0, 0.54);
}

.bottom-left-footer {
    justify-content: left;
}

.bottom-center-footer {
    justify-content: center;
}

.bottom-right-footer {
    justify-content: right;
}
.footer-links {
    color: rgba(0,0,0, 0.54);

}

footer {
    color: rgba(0,0,0, 0.54);
    border-bottom: 1px solid #dadce0;
    margin-top: auto;

    
}

